.row::before, .row::after {
	content: "";
	clear: both;
	display: table;
}
.title h1 {
	font-size: 24px;
	text-align: center;
}
.author h2 {
	text-align: center;
	font-size: 24px;
	color: purple;
}
.first-part {
	text-align: center;
	color: red;
	margin: 0 auto;
	max-width: 100%;
}
.second-part {
	text-align: left;
	color: green;
}
.third-part  {
	text-align: right;
	color: blue;
}
.container {
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: grey;
}